@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css";

@theme {
  --color-primary-600: #8b5833;
  --color-primary-500: #e78b48;
  --color-primary-400: #d09870;
  --color-secondary-800: #122943;
  --color-secondary-400: #5e7ea2;
  --color-background: #f7f9fb;
}
html {
  scroll-behavior: smooth;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge */
.hide-scrollbar {
  -ms-overflow-style: none;
}

/* Hide scrollbar for Firefox */
.hide-scrollbar {
  scrollbar-width: none;
}
